.root {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    border: solid 1px #ccc;
    text-align: center;
}
.root img {
    width: 200px;
}

.btnPlay {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #2f3036;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}
.btnStop {
    display: inline-block;
    background: #2f3036;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.songControl {
    margin: 10px auto;
}
.songInfo {
    margin: 20px auto;
}
.songName {
    font-weight: bold;
}
.songAuthor {
    font-size: 14px;
}
.songSelected {
    background: #e6e3e3;
}