.root {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    border: solid 1px #ccc;
    text-align: center;
}
.root img {
    width: 200px;
}

.btnPlay {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #2f3036;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}
.btnStop {
    display: inline-block;
    background: #2f3036;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.soundInfo {
    margin: 20px auto;
}
.soundName {
    font-weight: bold;
}
.soundAuthor {
    font-size: 14px;
}
.barFull {
    position: relative;
    height: 3px;
    background: #ccc;
    cursor: pointer;
    margin: 0 auto;
}
.barLeft {
    display: block;
    height: 3px;
    width: 0;
    background: #969696;
}